body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/oh.png');
}


form {
    background-color: #807f7f00;
    margin: 50px auto;
    padding: 50px;
    max-width: 600px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    
    margin-top: 250px; 
}
input[type="text"] {
    width: 80%; 
    padding: 10px;
    margin: 0 10%; 
    border-radius: 15px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px; 
    margin-left: 275px;
    border: none;
    border-radius: 90px;
    background-color: #a200ff5e;
    color: #ffffff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #a200ff;
}
p {
    color: #333;
}
a {
    color: #007BFF;
}
a:hover {
    color: #0056b3;
}
ul {
    padding-left: 20px;
}
.result {
    background-color: #ffffff13;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result p {
    color: #ffffff;
}
.result ul {
    padding-left: 20px;
}

h1 {
    color: #ffffff;
    padding-left: 275px;
  }